
table {
    color: white;
    margin: 10px;
    padding: 10px;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
  }
  
  table tr:nth-of-type(1) { 
  
    border-top: 3px solid white;
    border-bottom: 3px solid white;
  
  }
  
  table tr:nth-of-type(1):hover { 
  
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    background: none;color: white;
  
  }
  
  table tr { 
  
    border-bottom: 1px outset white;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
    transition-delay: 0.05s;
  
  }
  
  table tr:hover { 
  
    background: white;
    color: blue;
    margin: 20px;
    padding: 10px;
  
  }
  
  table tr:hover a { 
  
    color: blue;
    font-weight: 900;
  
  }
  
  table tr:hover svg { 
  
    color: blue;
  
  }
  
  table tr:hover td{ 
  
  
  }
  
  table tr td { 
  
    padding-top: 14px;
    padding-bottom: 14px;
  }
  
  table tr th { 
  
    padding-top: 14px;
    padding-bottom: 14px;
    font-weight: 900;
  
  }
  

@media screen and (max-width: 920px) { 
  
    .filter-block {
      display: inline;
    }
  
  }
  
  @media screen and (max-width: 768px)  {
    
    td {
        display: none;
    }

    .filter-block {
      display: inline;
    }
    
    table {
      border: 0;
      width: 80%;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
        
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
      width: 85%;
      margin: auto;
  
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
    table tr th {
        display: none;
    }
    table tr:hover { 
    
      background: white;
      color: blue;
      margin: 5px !important;
      padding: 5px !important;
    
    }
    .filter-block {
        display: flex;
        margin-bottom: 10px;
      }
  }
  
  @media screen and (max-width: 368px)  {
    
    table {
      width: 80%;
    }
  
  }
  
   /* table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
  
  
  
   */
  
  
  
  
  
  
  
  
  