/* *,
*::before,
*::after {
  box-sizing: border-box;
} */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@900&display=swap');

.flex-container {
  /* height: 100vh; */
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  padding: 3em 1em;
  
}
.flex-container .flex-item {
  margin: 25px;
  border-radius: 2px;
  padding: 4.5em 5em;
  position: relative;
  min-height: 260px;
  border-radius:5px;
  }
.flex-container .flex-item:focus {
        box-shadow: 0 0 3pt 2pt red;
    }
.flex-container .flex-item a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
  border-radius: 0px;
}
.flex-container .flex-item a span {
  -webkit-transform: translateZ(50px) scale(0.7);
          transform: translateZ(50px) scale(0.7);
}

.tilt {
  box-shadow: 0 20px 30px -13px rgba(0, 0, 0, 0.7);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
          transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
}
.tilt:hover {
  box-shadow: 0 40px 70px -15px rgba(0, 0, 0, 0.7);
}

.bg-one {
  background: linear-gradient(180deg, blue, blue);
}

.bg-two {
  background: linear-gradient(45deg, blue, blue);
}

.bg-three {
  background: linear-gradient(45deg, #ff00bb, #82000f);
}

.flex-item span > img {
  width:200px;
}
.flex-item .text{
  color:white;
  font-weight:800;
  font-family:Courier;
  font-size:12px;
  position:absolute;
  bottom:20px;
}
.flex-item .text2{
  color:white;
  font-weight:800;
  font-family:Courier;
  font-size: 36px;
  position:absolute;
  top:20px;
  font-family: 'Maven Pro', sans-serif;
}
table {
  color: white;
  margin: 10px;
  padding: 10px;
}

table tr:nth-of-type(1) { 

  border-top: 3px solid white;
  border-bottom: 3px solid white;

}

table tr:nth-of-type(1):hover { 

  border-top: 3px solid white;
  border-bottom: 3px solid white;
  background: none;color: white;

}

table tr { 

  /* border-top: 1px dotted white; */
  border-bottom: 1px outset white;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.5s;
  transition-delay: 0.05s;

}

table tr:hover { 

  background: white;
  color: blue;
  margin: 20px;
  padding: 10px;
  /* text-align: center; */

}

table tr:hover a { 

  color: blue;
  font-weight: 900;

}

table tr:hover svg { 

  color: blue;

}

table tr:hover td{ 

  /* border: 2px solid blue; */

}

table tr td { 

  padding-top: 14px;
  padding-bottom: 14px;
}

table tr th { 

  padding-top: 14px;
  padding-bottom: 14px;
  font-weight: 900;

}
button {
  background: white;
  color: blue;
}

.inner_navs {
  margin-bottom: 20px;
  width: 100%;
}

.inner_navs button{
  /* margin-bottom: 20px;
  width: 100%; */
  border: none;
  padding: 15px 5px;
  font-family: 'Lobster', cursive;
  letter-spacing: 1px;
  transition: 0.5s;
  transition-delay: 0.1s;
  /* font-size: 22px; */

}

.inner_navs button:hover{

  background: blue;
  color: white;
  border: 1px solid white !important;

}

.active_button {
  
  background: blue;
  border: 1px solid white !important;
  color: white;
}

.svg_hover_fix:hover {
  color: blue;
}





